<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Help Page</title>
</head>
<body>
    <div class="bg-help d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <h5 class="text-dark display-4 mt-3" style="text-align:center;">What can I do for you?</h5>
          <nav class="my-2 my-md-0 mr-md-3">
          </nav>
    </div>

    <div class="container">
            <div class ="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-9 mt-5">
                    <div class="card">
                        <div class="card body bg-black text-light">
                            <h2 style="text-align:center;"></h2>
                            <p></p>
                            <h3 style="text-align:center;">I can help you remember your daily stuff.</h3>
                            <p></p>
                            <p></p>
                            <p></p>
                            <h3 style="text-align:center;">For Example, you can store your expenses, to-do list and even birthdays in me.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>